<%= will_paginate @flights %>

<table style="width:50%">
    <tr>
        <th>Departure date</th>
        <th>Departure from</th>
        <th>Flight time</th>
        <th>Landing in</th>
    </tr>
    <% @flights.each do |flight| %>
        <tr>
            <td><%= flight.departure_date.strftime("%B %d %Y") %></td>
            <td><%= flight.departure_airport.city + " - " + flight.departure_airport.code %></td>
            <td><%= flight.duration.to_s + " hours" %></td>
            <td><%= flight.arrival_airport.city + " - " + flight.arrival_airport.code %></td>
        </tr>
    <% end %>
</table>