<h1>New booking</h1>

<%= form_with model: @booking, url: bookings_path do |booking_form| %>

    <%= booking_form.fields_for @flight do |flight_form| %>
        <%= render "flight_data_table", form_helper: flight_form, flight_object: flight_form.object %>
    <% end %>

    <%= render "fields_for_passengers", form_obj: booking_form %>
    
    <%= booking_form.submit %>
<% end %>


